@use '@theme/colors' as *;

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 110px;
	padding: 1rem 4rem;
	background-color: $primary;
}

.logo,
.account {
	color: $white;
	cursor: pointer;
}
