$white: #fff;
$primary: #5141ea;
$secondary: #03067b;
$gradient: linear-gradient(180deg, #5141ea 0.52%, rgba(70 141 216 / 69%) 51.04%, rgba(58 227 195 / 53%) 100%);
$gradient-primary: #3ae3c39c;
$gradient-secondary: #4e6ce4d7;
$gradient-tertiary: #563ff0;
